.jobs-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.jobs-heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
}

.sort-by-select {
  border: none;
  padding: 10px;
  font-weight: bold;
  outline: none;
}

.sort-by-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

.sort-by-heading {
  margin-right: 5px;
}

.select-option {
  font-size: 15px;
}
