.grad {
  /* background-image: repeating-conic-gradient(
    rgb(205, 216, 223) 10%,
    #6daffe 20%
  ); */
  border-radius: 0%;
  background-color: #edf6ff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 100px;
}

.resumeCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.resume-card-container {
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 2rem 7rem 2rem 2rem;
  padding: 50px;
}

.resume-card-container-heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 5%;
}

.resume-card-column {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.resume-card-name {
  display: flex;
  flex-direction: row;
}
.resume-card-name-in {
  margin-bottom: 1rem;
  padding-right: 2rem;
  width: 45%;
  display: flex;
  flex-direction: column;
}
.resume-card-city {
  margin-bottom: 1rem;
  padding-right: 2rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}
.resume-card-pincode {
  margin-bottom: 1rem;
  padding-right: 2rem;
  width: 25%;
  display: flex;
  flex-direction: column;
}

.resume-card-marginbottom {
  margin-bottom: 1rem;
}

.resume-label-marginbottom {
  margin-bottom: 0.3rem;
}

.resume-fname-input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(163, 154, 154);
  outline: none;
}

.resume-fname-input:focus {
  border-bottom: 2px solid #437fc7;
}

.resume-email-input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(163, 154, 154);
  outline: none;
}
.resume-email-input:focus {
  border-bottom: 2px solid #437fc7;
}

.resumebtn {
  font-weight: 700;
  width: 22%;
  height: 2.2rem;
  border-radius: 2rem;
  margin-left: 21rem;
  background-color: #fff;
  color: #437fc7;
  border: 2px solid #437fc7;
  cursor: pointer;
  outline: none;
}

.resumebtn:hover {
  color: #fff;
  background-color: #437fc7;
  border: none;
  outline: none;
}

.resumeErrormsg {
  color: red;
  margin-top: 0px;
}

.resume-submit-msg {
  color: white;
  text-align: center;
  background-color: grey;
  width: 11rem;
  margin: 0 0 1% 40%;
  padding: 0.7rem 0 0.7rem 0;
}
