@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

* {
  box-sizing: border-box;
}

.loginbody {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: 0 0 50px;
}

h1 {
  font-weight: bold;
  margin: 0;
}

.heading {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 10px;
  letter-spacing: 0.0625rem;
}

*/ .loginPara {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.loginSpan {
  font-size: 12px;
}

.logina {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.loginbutton {
  border-radius: 20px;
  border: 1px solid #437fc7;
  background-color: #437fc7;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

.loginbutton:active {
  transform: scale(0.95);
}

.loginbutton:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.loginform {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.logininput {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.logincontainer {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: sticky;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.loginform-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.logincontainer.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.logincontainer.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.loginoverlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.logincontainer.right-panel-active .loginoverlay-container {
  transform: translateX(-100%);
}

.loginoverlay {
  background: #6daffe;
  background: -webkit-linear-gradient(to right, #437fc7, #6daffe);
  background: linear-gradient(to right, #437fc7, #6daffe);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.logincontainer.right-panel-active .loginoverlay {
  transform: translateX(50%);
}

.loginoverlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.loginoverlay-left {
  transform: translateX(-20%);
}

.logincontainer.right-panel-active .loginoverlay-left {
  transform: translateX(0);
}

.loginoverlay-right {
  right: 0;
  transform: translateX(0);
}

.logincontainer.right-panel-active .loginoverlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.fa-facebook-f {
  color: #1877f2;
}

.fa-google-plus-g {
  color: #db4a39;
}

.fa-linkedin-in {
  color: #0e76a8;
}
